// font stacks
$font_stack_content: 'RobotoLight', sans-serif;
$font_stack_heading: 'RobotoBold', sans-serif;

// font size
$font_size_sm: 10px;
$font_size_nm: 12px;
$font_size_md: 17px;
$font_size_lg: 22px;

$font_base_content: 14px;
$font_base_heading: 20px;
$font_base_title: 15px;

// padding size
$padding_px_xs: 5px;
$padding_px_sm: 10px;
$padding_px_nm: 15px;
$padding_px_md: 25px;
$padding_px_lg: 35px;
$padding_px_xl: 50px;

$padding_pr_sm: 5%;
$padding_pr_md: 10%;
$padding_pr_lg: 20%;

// margin size
$margin_px_xs: 5px;
$margin_px_sm: 10px;
$margin_px_nm: 15px;
$margin_px_md: 25px;
$margin_px_lg: 35px;
$margin_px_xl: 50px;

$margin_pr_sm: 5%;
$margin_pr_md: 10%;
$margin_pr_lg: 20%;

// color constants
$color_base_body: #f2f2f2;